/* layout */
.modalBg {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.modal {
  max-width: 768px;
  width: 100%;
  height: 100vh;
  padding: 1em 1.5em 1em 1.5em;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.disclaimer {
  color: #818181;
  font-size: 0.8em;
}

/*
  Small Devices, Tablets
*/
@media only screen and (min-width: 768px) {
  .modal {
    max-width: 600px;
    height: 660px;
    border-radius: 1em;
  }
}
