.inpGroup {
  width: 100%;
  margin: 5px 2px;
  border: 1px solid #808080;
  border-radius: 5px;
  position: relative;
  transition: all 0.2s;
}

.inpGroup:focus-within {
  border: 2px solid var(--twitterBlue);
}

.inpGroup > input {
  width: 100%;
  margin: 22px 3px 3px 3px;
  background-color: transparent;
  border: none;
  outline: none;
}

.inpGroup > label {
  position: absolute;
  top: 4px;
  left: 3px;
  color: #818181;
  font-size: 0.8em;
  cursor: text;
  transition: all 0.2s;
}

.inpGroup > input:focus ~ label {
  top: 4px !important;
  color: var(--twitterBlue) !important;
  font-size: 0.8em !important;
}

.inpGroup > input:placeholder-shown + label {
  top: 12px;
  font-size: 1.1em;
}
