.list {
  width: 100%;
  height: 470px;
  overflow: scroll;
}

.listItem {
  padding: 10px;
  display: flex;
  align-items: center;
}

.listItem > img {
  width: 42px;
  height: 42px;
  border-radius: 100%;
}

.listItem > p {
  flex: 1;
  padding: 0 10px;
  font-weight: 600;
}

.listItem > button {
  padding: 4px 5px;
  background-color: transparent;
  border: 1px solid var(--twitterBlue);
  border-radius: 7px;
  color: var(--twitterBlue);
  font-size: 0.9em;
  font-weight: 600;
}

.listItem > button:hover,
.listItem > button:active {
  background-color: rgba(50, 50, 100, 0.1);
}
