.btn {
  width: 100%;
  line-height: 42px;
  margin: 5px;
  background-color: transparent;
  border: none;
  border-radius: 2rem;
  text-align: center;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.filled {
  background-color: var(--twitterBlue);
  color: #fff;
}

.outlined {
  border: 1px solid var(--twitterBlue);
  color: var(--twitterBlue);
}

.btn:hover,
.btn:active {
  box-shadow: 0 0 5rem 0.4rem rgba(0, 0, 0, 0.2) inset;
}
.btn[disabled] {
  opacity: 0.4;
}
