.page {
  max-width: 650px;
  margin: 0 auto;
  display: flex;
}

/*
  Medium Devices, Desktops
*/
@media only screen and (min-width: 992px) {
  .page {
    max-width: 992px;
  }
}

/*
  Large Devices, Wide Screens
*/
@media only screen and (min-width: 1200px) {
  .page {
    max-width: 1200px;
  }
}
