.component {
  width: 100vw;
  padding: 15px 10px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #818181;
  font-size: 0.9em;
}
