.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.auth {
  width: 100%;
}

.welcome {
  max-width: 650px;
  width: 100%;
  height: 500px;
  margin: 2vh auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.welcome > svg {
  width: 50px;
  height: 50px;
  fill: var(--twitterBlue);
}

.welcome > h1,
.welcome > h2 {
  font-weight: 700;
  font-family: Montserrat;
}
.welcome > h1 {
  font-size: 4rem;
}
.welcome > h2 {
  font-size: 2rem;
}

.formLayout {
  display: none;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.banner {
  width: 100%;
  height: 55vh;
  background: url('https://abs.twimg.com/sticky/illustrations/lohp_en_1302x955.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  place-items: center;
}

.banner > svg {
  width: 200px;
  height: 200px;
  fill: #fff;
}

/*
  Small Devices, Tablets
*/
@media only screen and (min-width: 768px) {
  .buttons {
    flex-direction: row;
  }
}

/*
  Medium Devices, Desktops
*/
@media only screen and (min-width: 992px) {
  .page {
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }

  .auth {
    width: 60%;
    height: 96vh;
    padding: 0.5rem;
  }

  .welcome {
    margin: 13vh auto 0 0;
  }

  /* first appearance */
  .formLayout {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .buttons {
    width: 75%;
    flex-direction: column;
  }

  .banner {
    width: 40%;
    height: 96vh;
  }

  .banner > svg {
    width: 300px;
    height: 300px;
  }
}

/*
  Large Devices, Wide Screens
*/
@media only screen and (min-width: 1200px) {
  .auth {
    width: 45%;
  }

  .banner {
    width: 55%;
  }
}

/*
  ! Huge Devices !
*/
@media only screen and (min-width: 1600px) {
  .welcome {
    height: 480px;
  }

  .formLayout {
    width: 550px;
  }
}
