.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.auth {
  width: 100%;
  padding: 2rem;
}

.welcome {
  max-width: 500px;
  min-height: 350px;
  max-height: 400px;
  margin: 2vh auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.welcome > svg {
  width: 50px;
  height: 50px;
  fill: var(--twitterBlue);
}

.welcome > h1,
.welcome > h2 {
  font-weight: 900;
}
.welcome > h1 {
  font-size: 2.7rem;
}
.welcome > h2 {
  font-size: 1.7rem;
}

.formLayout {
  display: none;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.banner {
  width: 100%;
  height: 50vh;
  background: url('https://abs.twimg.com/sticky/illustrations/lohp_en_1302x955.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  place-items: center;
}

.banner > svg {
  width: 150px;
  height: 150px;
  fill: #fff;
}

/*
  Small Devices, Tablets
*/
@media only screen and (min-width: 768px) {
  .auth {
    width: 70%;
  }

  .welcome {
    height: 100%;
    margin: 4vh 0;
  }

  .welcome > h1 {
    font-size: 3.7rem;
  }

  .buttons {
    flex-direction: row;
  }
}

/*
  Medium Devices, Desktops
*/
@media only screen and (min-width: 992px) {
  .page {
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }

  .auth {
    width: 60%;
    height: 95vh;
    padding: 0.5rem 1.5rem 0 1.5rem;
  }

  .welcome {
    margin-top: 12vh;
  }

  /* first appearance */
  .formLayout {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .buttons {
    width: 75%;
    flex-direction: column;
  }

  .banner {
    width: 40%;
    height: 95vh;
  }

  .banner > svg {
    width: 300px;
    height: 300px;
  }
}

/*
  Large Devices, Wide Screens
*/
@media only screen and (min-width: 1200px) {
  .auth {
    width: 45%;
  }

  .buttons {
    width: 65%;
  }

  .banner {
    width: 55%;
  }
}

/*
  ! Huge Devices !
*/
@media only screen and (min-width: 1600px) {
  .auth {
    padding-right: 12vw;
  }
  .welcome {
    margin-top: 15vh;
  }
}
