.page {
  max-width: 420px;
  margin: 0 auto;
  padding: 2rem;
}

.page > h2 {
  margin-top: 42px;
}

.register {
  width: 100%;
  background-color: transparent;
  border: none;
  color: var(--twitterBlue);
  font-size: 0.9rem;
  font-weight: 500;
}
.register:hover,
.register:active {
  text-decoration: underline;
}
