:root {
  --twitterBlue: #03a9f4;
  --twitterBlueSoft: #03a9f41a;
}

@font-face {
  font-family: Montserrat;
  src: url('../fonts/Montserrat-Black.ttf');
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.App {
  width: 100vw;
  min-height: 100vh;
}

.App h1,
.App h2,
.App h3,
.App h4,
.App h5,
.App h6 {
  font-family: Montserrat;
}

/*
  Extra Small Devices, Phones 
  @media only screen and (min-width: 480px) {}
*/

/*
  Small Devices, Tablets
  @media only screen and (min-width: 768px) {}
*/

/*
  Medium Devices, Desktops
  @media only screen and (min-width: 992px) {}
*/

/*
  Large Devices, Wide Screens
  @media only screen and (min-width: 1200px) {}
*/
