.box {
  display: flex;
  border: 0.5px solid #f5f5f5;
}

.box > img {
  margin: 10px !important;
}

.form {
  flex: 1;
  padding: 0 10px 10px 0;
}

.form textarea {
  width: 100%;
  height: auto;
  margin: 15px 0;
  font-size: 1.2em;
  background-color: transparent;
  border: none;
  resize: none;
  overflow: hidden;
  outline: none;
}

.tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.formOption {
  width: 33px;
  height: 33px;
  margin: 0 2px;
  border-radius: 100%;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.formOption:hover,
.formOption:active {
  background-color: var(--twitterBlueSoft);
}

.formOption svg {
  width: 20px;
  height: 20px;
  fill: var(--twitterBlue);
}

.tools Button {
  width: 70px;
  margin: 0 0 0 auto;
  line-height: 30px;
}
